@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #090909;
}

html {
  scroll-behavior: smooth;
}

@theme {
  --color-black-custom: #090909;
  --animate-scroll: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
